body{
	background-color: rgb(240, 235, 227);
}

header{
	background-image: linear-gradient(#6bcff7, #6b97f7);
	padding: 20px;
	right: 1110px;
}

.Imagens{
	width: 230%;
	height: 230%;
	display: block;
	
}

#logotipo{
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
	display: inline-block;
}

h1{
	display:inline-flex;
	text-align: center;
	font-size: 30px;
}


p{
	margin: 10px;
	font-size: 30px;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}


.Imagens{
	width: 50em;
	height: 40em;
	display: block;
	
}

.logotipo{
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
	display: inline-block;
	margin: 20px;
}

.texto{
	display:table-cell;
	float: left;
	width: 500px;
	margin:30px;
	text-indent: 10px
}


*{
	margin: 0;
    padding: 0;
    border: 0;
}